/* translate-panel.component.css */
.translate-container {
    padding: 24px;
}

.panel-grid {
    display: flex;
    gap: 16px;

    & app-text-area {
        margin: 2em;
    }

    form {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 6em;
    }
}